:root {
    --accent: #4D5AE5;
    --text-footer: #F4F4FD;
    --section-bcg-color: #F4F4FD;
    --text: #434455;
    --heading-color: #2E2F42;
    --button-color: #4D5AE5;
    --border-color: #E7E9FC;

}

body {
    margin: 0;
    padding: 0;
    color: var(--text);
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #FFFFFF;

}


.list {
    list-style: none;
    text-decoration: none;
}

/* color-correction    ↓↓↓ */

/* header */
.accent-text-color {
    color: var(--accent);
}

.accent-bcg-color {
    background-color: var(--accent);
    color: #ffffff;
}

.link span {
    color: var(--heading-color);
}

.link:hover, .link:focus {
    color: #404bbf;
}


.items-address {
    color: var(--text);
}

.items-address:hover,
.items-address:focus {
    color: #404bbf;
}




.heading-color {
    color: var(--heading-color);
}

.caption {
    color: #ffffff;
    text-align: center
}

.main-bcg {
    width: 1140px;
    background-color: var(--heading-color);
}

.section-bcg-color {
    background-color: var(--section-bcg-color);
    width: 1140px;
}

.footer-color {
    color: var(--text-footer);
}



/* text-correction ↓↓↓ */

.logo {
    font-family: 'Raleway'sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17px;

}


.nav {
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}

.items-address {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.items-list {
    list-style: none
}

.caption {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;

}

.btn-text-correction {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
}

.subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}



/* portfolio color decaration  */
.button-bcg {
    background-color: var(--button-color);
    color: #ffffff;
    border: none;
    cursor: pointer;

}

.button-color {
    color: var(--button-color);
    background-color: var(--section-bcg-color);
    border: 1px var(--border-color);
    cursor: pointer;
}

.button-color:hover {
    background-color: var(--button-color);
    color: #ffffff;
    cursor: pointer;
}

.button-color:focus {
    outline: 1px solid var(--button-color);
}

.button-bcg:focus {
    outline: 1px solid var(--button-color)
}


/* portfolio text decaration  */

.button-bcg {
    font-family: "Roboto", sans-serif;
    cursor: pointer;
}

.button-color {
    font-family: "Roboto", sans-serif;
    cursor: pointer;
}

.button-bcg:hover,
.button-color:focus {
    background-color: #404bbf;
}